@import "tailwindcss";

/* .input{
    @apply text-center bg-[#f4a226]  font-monotone
    uppercase
    font-normal
    py-6
    mb-10
   
    text-4xl            
    sm:text-6xl         
    md:text-7xl         
    lg:text-[8rem]      

    tracking-[-2px]
    [word-spacing:6px] 
    sm:[word-spacing:14px]
    lg:[word-spacing:30px];
} */