@import "tailwindcss";

/* .input{
    @apply text-center bg-[#f4a226]  font-monotone
    uppercase
    font-normal
    py-6
    mb-10
   
    text-4xl            
    sm:text-6xl         
    md:text-7xl         
    lg:text-[8rem]      

    tracking-[-2px]
    [word-spacing:6px] 
    sm:[word-spacing:14px]
    lg:[word-spacing:30px];
} */

.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

